.root {
  display: flex;
  flex-direction: row;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 10px;
}
.svg__urKu6 {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
  flex-shrink: 0;
}
.box {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  min-width: 0;
}
