@import url("https://fonts.googleapis.com/css2?family=Merriweather%3Aital%2Cwght%400%2C400%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C900&family=B612+Mono%3Aital%2Cwght%400%2C400&display=swap");
.root_reset {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #535353;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
