.root {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .root > :global(.__wab_flex-container) > *,
  .root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.box__sbAFr {
  height: auto;
}
.youTube__sfNyD:global(.__wab_instance) {
  position: relative;
  width: 100%;
  height: 300px;
  min-width: 0;
}
.listItem__n4IjD:global(.__wab_instance) {
  position: relative;
}
.map__gaZzx:global(.__wab_instance) {
  position: relative;
  height: 300px;
  width: 100%;
  min-width: 0;
}
