.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  width: 100%;
  position: relative;
  min-width: 0;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.slotTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 32px /* plasmic-token: l9Xm-QldJOTM2 */;
  font-weight: 900;
}
.description:global(.__wab_instance) {
  position: relative;
}
.svg___1ADdO {
  position: relative;
  object-fit: cover;
  width: 64px;
  height: 64px;
}
.box {
  height: auto;
}
