.root {
  display: flex;
  position: relative;
  flex-direction: column;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__f50Rd {
  display: block;
  position: relative;
  height: 8px;
  width: 32px;
  flex-shrink: 0;
  background: #ff44de;
}
.box___9Rn6I {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  font-family: "Poppins";
}
