.root {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
}
.box__bcBbs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__bcBbs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__bcBbs > :global(.__wab_flex-container) > *,
.box__bcBbs > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.slotTitle {
  font-weight: 700;
}
.slotPackage {
  font-family: "B612 Mono";
  color: #999999;
  font-size: 16px;
}
.box__h652A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  min-width: 0;
}
.slotChildren {
  font-size: 13px;
}
