@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C900&family=B612+Mono%3Aital%2Cwght%400%2C400&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C700&family=Roboto%3Aital%2Cwght%400%2C400%3B0%2C500&family=Titillium+Web%3Aital%2Cwght%400%2C400%3B0%2C700&family=Roboto+Condensed%3Aital%2Cwght%400%2C400&display=swap");
.root_reset {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  color: #000000d9 /* plasmic-token: TO3P8hpI1 */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre-wrap;
}
