.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__datbb {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 25px 50px;
}
.box__datbb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.box__datbb > :global(.__wab_flex-container) > *,
.box__datbb > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.homeHeader:global(.__wab_instance) {
  position: relative;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.container > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  align-content: space-between;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 32px;
}
.listItem__tfkV:global(.__wab_instance) {
  position: relative;
}
.box___33MxC {
  height: auto;
}
.youTube:global(.__wab_instance) {
  position: relative;
  width: 400px;
  height: 300px;
}
.listItem__il7Xs:global(.__wab_instance) {
  position: relative;
}
.map:global(.__wab_instance) {
  position: relative;
  height: 280px;
  width: 280px;
}
.listItem__tChJd:global(.__wab_instance) {
  position: relative;
}
.slider:global(.__wab_instance) {
  position: relative;
  width: 219px;
}
.listItem__el4De:global(.__wab_instance) {
  position: relative;
}
.menu:global(.__wab_instance) {
  position: relative;
  width: 100%;
  margin-top: 30px;
  min-width: 0;
}
.listItem__kfrAt:global(.__wab_instance) {
  position: relative;
}
.collapse:global(.__wab_instance) {
  position: relative;
}
.listItem__peCqW:global(.__wab_instance) {
  position: relative;
}
.alert__nuj4J:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__qCm7R {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.box__q6Thx {
  width: auto;
  display: inline-block;
}
.svg__weL27 {
  position: relative;
  object-fit: cover;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.alert__bQk8E:global(.__wab_instance) {
  position: relative;
  margin-top: 19px;
  width: 100%;
  min-width: 0;
}
.listItem___2Iz78:global(.__wab_instance) {
  position: relative;
}
.radialChart:global(.__wab_instance) {
  position: relative;
}
.listItem__dL0Ja:global(.__wab_instance) {
  position: relative;
}
.xyPlot:global(.__wab_instance) {
  position: relative;
  width: 256px;
}
.listItem__onS3R:global(.__wab_instance) {
  position: relative;
}
.box__atVTf {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__atVTf > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.box__atVTf > :global(.__wab_flex-container) > *,
.box__atVTf > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 20px;
}
.muiSelect:global(.__wab_instance) {
  width: 318px;
}
.muiButtonGroup:global(.__wab_instance) {
  position: relative;
}
.box___59T6Y {
  position: relative;
}
.box__cDc8I {
  position: relative;
}
.box__fhgjZ {
  position: relative;
}
.box__z73Ju {
  position: relative;
}
.listItem___0BE4:global(.__wab_instance) {
  position: relative;
}
.box___5Pkn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.wiredButton:global(.__wab_instance) {
  position: relative;
}
.wiredIconButton:global(.__wab_instance) {
  position: relative;
}
.listItem__al6Ag:global(.__wab_instance) {
  position: relative;
}
.box___5IiNb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.arwesCard:global(.__wab_instance) {
  position: relative;
}
.listItem__wf7Ff:global(.__wab_instance) {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__bLlfD {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.productGallery:global(.__wab_instance) {
  position: relative;
}
.cmsGallery:global(.__wab_instance) {
  position: relative;
}
.listItem__nhTo7:global(.__wab_instance) {
  position: relative;
}
.box__kNBo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.carousel:global(.__wab_instance) {
  position: relative;
  width: 300px;
}
.box___78YN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__yeGth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  min-width: 0;
  flex-shrink: 0;
  background: rgba(68, 192, 255, 0.2);
}
.box__h1Gg {
  position: relative;
}
.box__jkoKh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__iykq7 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 160px;
  min-width: 0;
  flex-shrink: 0;
  background: rgba(68, 192, 255, 0.2);
}
.box___1Ys8E {
  position: relative;
}
.listItem___678Dp:global(.__wab_instance) {
  position: relative;
}
.box__qc6Nn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.embed__pQfeb:global(.__wab_instance) {
  position: relative;
}
.embed__jiYYy:global(.__wab_instance) {
  position: relative;
}
.listItem__jHyjI:global(.__wab_instance) {
  position: relative;
}
.box__zjXqM {
  position: relative;
}
.box__hAs4C {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.tilt:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
.box__koyLo {
  box-shadow: 0px 25px 50px 0px #00000040;
  display: flex;
  position: relative;
  width: 242px;
  height: 366px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/plasmic/code_component_examples/images/image4.png") left 50% top 50% / cover;
}
.box__fVa2P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  box-shadow: none;
  min-width: 0;
  min-height: 0;
  background: url("/plasmic/code_component_examples/images/image3.png") repeat;
}
.listItem___5KOaN:global(.__wab_instance) {
  position: relative;
}
.box__vL6U {
  position: relative;
}
.box__mDcj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 920px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 0;
}
.parallax__dQYo:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: auto;
  margin-left: 100px;
}
.img__bsPUs {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parallax___28Ais:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
}
.img__mxLo {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parallax__bR5Vd:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-end;
  max-width: 75%;
}
.img__bbNi4 {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.parallax__p7Zg3:global(.__wab_instance) {
  width: 50%;
  max-width: 300px;
  position: relative;
  left: auto;
  top: auto;
  align-self: flex-start;
  margin-left: 10%;
}
.img__ozqoJ {
  box-shadow: 0px 25px 50px 0px #00000040;
  position: relative;
  object-fit: cover;
  width: 100%;
  height: auto;
  min-width: 0;
}
.listItem__d1Up0:global(.__wab_instance) {
  position: relative;
  align-self: center;
  width: 100%;
  min-width: 0;
}
.box__fuN5Q {
  position: relative;
}
.box__jmfbj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 800px;
  min-width: 0;
  background: url("/plasmic/code_component_examples/images/image12.png") left 0% top 50% / cover repeat;
}
.reveal:global(.__wab_instance) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  justify-content: center;
  align-items: center;
}
.box__rKjWf {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: auto;
  height: auto;
}
.box__nfF {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 32px;
}
.box___323Cv {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: auto;
  height: auto;
  margin-top: 32px;
}
.box___323Cv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___323Cv > :global(.__wab_flex-container) > *,
.box___323Cv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__hG7X {
  position: relative;
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 16px;
  letter-spacing: 2px;
}
.box__fuc83 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__fuc83 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.box__fuc83 > :global(.__wab_flex-container) > *,
.box__fuc83 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 20px;
}
.svg__oMvtP {
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__uWw5F {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.svg__p87X1 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.footer:global(.__wab_instance) {
  position: relative;
}
