.root {
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 320px;
  min-width: 320px;
  border-radius: 16px;
  padding: 24px;
  background: rgb(255, 255, 255);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.root__noLink {
  cursor: default;
}
.box__mSr9Y {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__mSr9Y > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__mSr9Y > :global(.__wab_flex-container) > *,
.box__mSr9Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.slotQuote {
  font-family: Inter;
  font-size: 16px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 24px;
}
.box__h7NCt {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__cXRqA {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__cXRqA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__cXRqA > :global(.__wab_flex-container) > *,
.box__cXRqA > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.img__u5YiU {
  position: relative;
  object-fit: cover;
  width: 48px;
  height: 48px;
  flex-shrink: 0;
  border-radius: 24px;
}
.box__u6Jz3 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.box__sIeN {
  display: flex;
  height: auto;
}
.slotName {
  font-family: Inter;
  font-size: 16px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 24px;
  font-weight: 600;
}
.root__noLink:hover .slotName__noLink {
  color: rgb(50, 52, 54) /* plasmic-token: T5L5Js4u0Cm */;
}
.root__noLink:hover .slotName__noLink > *,
.root__noLink:hover .slotName__noLink > .__wab_slot > *,
.root__noLink:hover .slotName__noLink > .__wab_slot > .__wab_slot > *,
.root__noLink:hover
  .slotName__noLink
  > .__wab_slot
  > .__wab_slot
  > .__wab_slot
  > * {
  text-decoration-line: none;
}
.box___7Mprr {
  display: flex;
  height: auto;
}
.slotTitle {
  font-family: Inter;
  font-size: 16px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
  line-height: 24px;
}
.box__nkMqq {
  display: flex;
  height: auto;
}
.slotCompany {
  font-family: Inter;
  font-size: 16px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
  line-height: 24px;
}
