.root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  position: relative;
}
.box {
  display: block;
  position: absolute;
  width: 23px;
  height: auto;
  left: auto;
  top: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 74%
    ),
    rgba(68, 192, 255, 0);
}
