.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 24px;
  background: rgb(245, 247, 250);
}
.box__dso5W {
  max-width: 1024px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__dso5W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__dso5W > :global(.__wab_flex-container) > *,
.box__dso5W > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.graphicIcon__tu9S5:global(.__wab_instance) {
  position: relative;
}
.svg__yfuCz {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.box__rb3Jg {
  display: flex;
  position: relative;
  height: auto;
}
.slotChildren {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: Poppins;
  color: rgb(122, 125, 130) /* plasmic-token: vPebB0QZhXB */;
}
.box__gEcB {
  display: flex;
  position: relative;
}
.slotSlot {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: Poppins;
  text-align: center;
}
.buttonLink:global(.__wab_instance) {
  position: relative;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
