.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.root__global_theme_dark {
  background: rgb(5, 5, 5);
}
.banner:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  z-index: 999;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
}
.body > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.body > :global(.__wab_flex-container) > *,
.body > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.homeHero:global(.__wab_instance) {
  position: relative;
}
.img__u7XHu {
  width: 100%;
  max-width: 1200px;
  min-width: 0;
  border-radius: 12px;
}
.quotesScroller__cvBgx:global(.__wab_instance) {
  position: relative;
}
.box__il5V4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.makeEditable:global(.__wab_instance) {
  position: relative;
}
.slotChildren {
  color: rgba(0, 0, 0, 0);
  text-align: center;
}
.slotChildren > *,
.slotChildren > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 640px) {
  .slotChildren {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.slotChildren__global_theme_altHeadlineFont {
  font-family: "Poppins";
}
.box___0DrSq {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(24, 119, 242) 0%,
    rgb(118, 182, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.box__tzvvn {
  display: flex;
  flex-direction: column;
}
.box__tzvvn > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__tzvvn > :global(.__wab_flex-container) > *,
.box__tzvvn > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.graphicIcon__gSsIj:global(.__wab_instance) {
  position: relative;
}
.svg__sTyKf {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__jdZnG:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__sryYo {
  height: auto;
}
.graphicIcon__hA2Ho:global(.__wab_instance) {
  position: relative;
}
.svg__dAqb3 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__gHvZ:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__hixIg {
  height: auto;
}
.graphicIcon__oDpmt:global(.__wab_instance) {
  position: relative;
}
.svg__hr5Mb {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.makeEditableImage {
  object-fit: contain;
  border-radius: 12px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .makeEditableImage {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .makeEditableImage {
    width: 100%;
    min-width: 0;
  }
}
.belowFoldCtaRow:global(.__wab_instance) {
  position: relative;
}
.first:global(.__wab_instance) {
  position: relative;
}
.box__pIcle {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(24, 119, 242) 0%,
    rgb(118, 182, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 640px) {
  .box__pIcle {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.box__global_theme_altHeadlineFont__pIcleFQkvX {
  font-family: "Poppins";
}
.img__efMTf {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__vb2Se {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.box__thHta {
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  padding: 24px;
  background: rgb(255, 255, 255);
}
.box__thHta > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__thHta > :global(.__wab_flex-container) > *,
.box__thHta > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box__blk3T {
  display: flex;
  flex-direction: column;
}
.box__blk3T > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__blk3T > :global(.__wab_flex-container) > *,
.box__blk3T > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.graphicIcon__vdWg:global(.__wab_instance) {
  position: relative;
}
.svg__j8A6E {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__tpaQr:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__ex1EP {
  height: auto;
}
.graphicIcon__nAxdN:global(.__wab_instance) {
  position: relative;
}
.svg__o1Msj {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__r5TQp:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__eHqL3 {
  height: auto;
}
.graphicIcon__o7Yi:global(.__wab_instance) {
  position: relative;
}
.svg__zmmIw {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__nd4Ur:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box___8309H {
  height: auto;
}
.graphicIcon__poFjv:global(.__wab_instance) {
  position: relative;
}
.svg__aEZiF {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(0, 139, 208) /* plasmic-token: yKXmGnP3Nte */;
}
.section__o1UJw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.box__pGcAo {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1024px;
  width: 100%;
  min-width: 0;
  padding: 24px;
}
.img__qxie {
  width: 100%;
  min-width: 0;
}
.integrateAnywhereSection___1RP03:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.section___5Pdi {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 0px;
  min-width: 0;
}
.container {
  display: flex;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
}
.container > :global(.__wab_flex-container) {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 16px;
}
.img__n3QxF {
  height: 52px;
}
.img__kfQrJ {
  height: 40px;
}
.img__yiewc {
  height: 36px;
}
.img___2B399 {
  height: 60px;
}
.img__fSxKk {
  position: relative;
  object-fit: cover;
  height: 50px;
}
.img___73TBy {
  height: 32px;
}
.img__osQ4W {
  height: 28px;
}
.img__vX0Y6 {
  position: relative;
  object-fit: cover;
  height: 26px;
}
.developerFlexibilitySection:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.limitlessExpressivitySectionForSites:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.hitGroundRunningSection:global(.__wab_instance):global(.__wab_instance) {
  position: relative;
}
.productHuntBadge {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.img__jkiWw {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
}
.quotesScroller__mTr2P:global(.__wab_instance) {
  position: relative;
}
.testimonialsBottom:global(.__wab_instance) {
  position: relative;
}
.bottomCtaSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
