.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.pageHero:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__wsyRk {
  height: auto;
  color: rgb(129, 77, 231) /* plasmic-token: TofnYUvxKNBJ */;
}
.graphicIcon__hmk6V:global(.__wab_instance) {
  position: relative;
}
.svg___6CUez {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.valuePropSection__uOtIi:global(.__wab_instance) {
  position: relative;
}
.box__qUb5H {
  height: auto;
}
.graphicIcon__gLBpN:global(.__wab_instance) {
  position: relative;
}
.svg__sms4L {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__eVbcR {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__seU7K:global(.__wab_instance) {
  position: relative;
}
.svg__xAbJz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__zjRoC:global(.__wab_instance) {
  position: relative;
}
.box__oqfWr {
  height: auto;
}
.box__whPqE {
  color: rgb(69, 189, 98) /* plasmic-token: NEdiZacoLfV */;
  height: auto;
}
.graphicIcon__qRmrN:global(.__wab_instance) {
  position: relative;
}
.svg__tVtsR {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__eGlEl {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__siHbY:global(.__wab_instance) {
  position: relative;
}
.svg__t2Zn4 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__yY768:global(.__wab_instance) {
  position: relative;
}
.box__bz2YU {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__rTsoa:global(.__wab_instance) {
  position: relative;
}
.svg__twc8 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__hufA {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__kWthw:global(.__wab_instance) {
  position: relative;
}
.svg__z4KCh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___0MeFd:global(.__wab_instance) {
  position: relative;
}
.box__nTxJh {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__aRo5L:global(.__wab_instance) {
  position: relative;
}
.svg__brYrc {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__cjTqj {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__aYCr:global(.__wab_instance) {
  position: relative;
}
.svg__dN8J5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__hwLl2:global(.__wab_instance) {
  position: relative;
}
.box__rauNi {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__wt4D8:global(.__wab_instance) {
  position: relative;
}
.svg__qMzYg {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__a6J9 {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink___4WmdG:global(.__wab_instance) {
  position: relative;
}
.svg__qMlzM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__rzzX:global(.__wab_instance) {
  position: relative;
}
.box__sKqCh {
  height: auto;
}
.box__tfvx5 {
  color: rgb(69, 189, 98) /* plasmic-token: NEdiZacoLfV */;
  height: auto;
}
.graphicIcon__rLvEx:global(.__wab_instance) {
  position: relative;
}
.svg__hVenQ {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__b9Bgm {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__rRarE:global(.__wab_instance) {
  position: relative;
}
.svg__smXjQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.bottomCtaSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
