.root {
  display: flex;
  position: relative;
  padding-bottom: 24px;
  padding-top: 24px;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}
@media (min-width: 0px) and (max-width: 640px) {
  .root {
    display: flex;
    flex-direction: column;
    flex-column-gap: 0px;
  }
}
.box__sTac9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  padding-left: 24px;
  padding-right: 24px;
}
.slotSlot {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: Poppins;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 640px) {
  .slotSlot {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.box__hIgK {
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__hIgK > :global(.__wab_flex-container) {
  align-items: flex-start;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
}
.box__hIgK > :global(.__wab_flex-container) > *,
.box__hIgK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 0px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__hIgK {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__hIgK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__hIgK > :global(.__wab_flex-container) > *,
  .box__hIgK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .box__hIgK {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .box__hIgK > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .box__hIgK > :global(.__wab_flex-container) > *,
  .box__hIgK > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
  }
}
.container {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  width: 35%;
  min-width: 300px;
  padding: 24px;
}
.container > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .container {
    width: 100%;
    min-width: 0;
  }
}
.container__evenSplit {
  width: 100%;
  min-width: 0;
}
.box___2Dl5S {
  display: flex;
  position: relative;
}
.box___2Dl5S > :global(.__wab_flex-container) {
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
}
.box___2Dl5S > :global(.__wab_flex-container) > *,
.box___2Dl5S > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
}
.box___0CTpv {
  display: flex;
  flex-direction: column;
}
.box___0CTpv > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box___0CTpv > :global(.__wab_flex-container) > *,
.box___0CTpv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.svg___13MnX {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.divider__oXnNx:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__e7JFe {
  display: flex;
  flex-direction: row;
}
.box__e7JFe > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__e7JFe > :global(.__wab_flex-container) > *,
.box__e7JFe > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.svg__hNpS8 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.divider__mWeZp:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.box__is60X {
  display: flex;
  flex-direction: row;
}
.box__is60X > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__is60X > :global(.__wab_flex-container) > *,
.box__is60X > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.svg__x81Vx {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.box__xEv57 {
  height: auto;
}
.buttonLink__fFeGa:global(.__wab_instance) {
  position: relative;
}
.svg__ix2FQ {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.box__m8FK {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  overflow: hidden;
  min-width: 0;
  min-height: 0;
}
.box__lsKij {
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: flex-start;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 16px;
  padding: 24px;
  background: rgb(255, 255, 255);
}
.img {
  height: 100%;
  object-fit: contain;
  min-height: 0;
  border-radius: 16px;
}
.box__cQYiv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 60%;
  padding-top: 24px;
  padding-bottom: 24px;
  height: 100%;
  align-self: auto;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__cQYiv {
    padding-left: 8px;
    padding-right: 8px;
    justify-content: center;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .box__cQYiv {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    min-width: 0;
  }
}
.box__evenSplit__cQYivNubwn {
  width: 100%;
  min-width: 0;
}
.box__nsS5V {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 640px;
}
.img__s6UrP {
  height: auto;
  object-fit: contain;
  max-height: 600px;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
}
