.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: url("/plasmic/plasmic_kit_website_components/images/image2.svg") left 0% bottom 0% / 100% auto no-repeat
      padding-box border-box scroll,
    linear-gradient(0deg, rgb(224, 247, 255) 0%, rgb(255, 255, 255) 100%) 0% 0% /
      100% 100% no-repeat padding-box border-box scroll;
}
@media (min-width: 0px) and (max-width: 640px) {
  .root {
    overflow: hidden;
  }
}
.root__global_theme_dark {
  background: linear-gradient(0deg, rgb(24, 25, 26) 0%, rgb(5, 5, 5) 100%);
}
.container {
  max-width: 1024px;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: row;
  justify-content: center;
  min-width: 0;
  padding: 24px;
}
.box__f7VC5 {
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
}
.box__f7VC5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__f7VC5 > :global(.__wab_flex-container) > *,
.box__f7VC5 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__hNrIt {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 850px;
}
.box__hNrIt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__hNrIt > :global(.__wab_flex-container) > *,
.box__hNrIt > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box__yzLd4 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__yzLd4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__yzLd4 > :global(.__wab_flex-container) > *,
.box__yzLd4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__nLvV6 {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.box__c30XQ {
  display: flex;
  position: relative;
  flex-direction: column;
}
.slotChildren {
  font-size: 56px;
  font-weight: 700;
  line-height: 78px;
  font-family: Poppins;
  color: rgb(0, 23, 46) /* plasmic-token: DNhSCHY-0ja */;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 640px) {
  .slotChildren {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.slotChildren__global_theme_dark {
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.slotChildren__global_theme_altHeadlineFont {
  font-family: "Poppins";
}
.box___1C2Y {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
.slotSlot {
  font-family: "Inter";
  font-size: 24px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
  text-align: center;
}
.slotSlot > *,
.slotSlot > .__wab_slot > *,
.slotSlot > .__wab_slot > .__wab_slot > *,
.slotSlot > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-decoration-line: none;
  text-overflow: clip;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.box___13297 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .box___13297 {
    width: 110%;
    padding: 8px;
  }
}
.box__znWmw {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  top: auto;
  left: auto;
  border-radius: 24px;
  padding: 40px /* plasmic-token: 3ijz09oEj */;
  background: linear-gradient(0deg, rgb(0, 23, 46) 0%, rgb(0, 33, 64) 100%),
    rgb(0, 23, 46);
}
@media (min-width: 0px) and (max-width: 640px) {
  .box__znWmw {
    border-radius: 16px;
    padding: 16px;
  }
}
.box__tmEn5 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  border-radius: 1px;
}
.img___7VdQf {
  width: 100%;
  max-width: 1200px;
  min-width: 0;
  border-radius: 12px;
}
.dock {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  height: 48px;
  width: 320px;
  margin-top: 0px;
  flex-shrink: 0;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.4);
}
