.root {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  position: relative;
  min-width: 0;
  padding: 24px;
  background: linear-gradient(
    0deg,
    rgb(245, 247, 250) 0%,
    rgb(255, 255, 255) 100%
  );
}
.container23 {
  max-width: 1024px;
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  min-width: 0;
  border-radius: 16px;
  padding: 48px;
  background: linear-gradient(0deg, rgb(0, 16, 33) 0%, rgb(0, 53, 94) 100%) 0%
    0% / 100% 100% no-repeat padding-box border-box scroll;
}
.container23 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.container23 > :global(.__wab_flex-container) > *,
.container23 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .container23 {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.box__q0IA {
  display: flex;
  position: relative;
  flex-direction: column;
  top: auto;
  left: auto;
}
.box__q0IA > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__q0IA > :global(.__wab_flex-container) > *,
.box__q0IA > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.box___2M4Mn {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: Poppins;
  text-align: center;
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(
      333deg,
      rgb(134, 218, 255) 0%,
      rgb(149, 228, 217) 100%
    )
    0% 0% / 100% 100% no-repeat padding-box scroll;
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 640px) {
  .box___2M4Mn {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.box__global_theme_altHeadlineFont___2M4MnFQkvX {
  font-family: "Poppins";
}
.box___0X7Ph {
  font-family: Inter;
  font-size: 16px;
  color: rgb(201, 204, 209) /* plasmic-token: b6bbqecq5 */;
  line-height: 24px;
  position: relative;
  left: auto;
  top: auto;
  text-align: center;
}
.box__rkRfT {
  height: auto;
  color: rgb(0, 53, 94) /* plasmic-token: fuOlnHkDJkX */;
}
.svg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: rgb(0, 53, 94) /* plasmic-token: fuOlnHkDJkX */;
}
