.root {
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
  padding: 24px;
  background: rgb(255, 255, 255);
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 32px;
}
.box__fhEe6 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__fhEe6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__fhEe6 > :global(.__wab_flex-container) > *,
.box__fhEe6 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__kftjm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.slotTitle {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Poppins;
}
.slotPrice {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Poppins;
}
.slotSubprice {
  font-size: 12px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
.slotValueProps {
  line-height: 2;
}
.ctaLink {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: center;
  min-width: 0;
}
.linky___407Uc:global(.__wab_instance) {
  position: relative;
}
