.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.pageHero:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.graphicIcon__wvTfi:global(.__wab_instance) {
  position: relative;
}
.svg__yrOoc {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.valuePropSection__pyrrZ:global(.__wab_instance) {
  position: relative;
}
.box__inc0J {
  height: auto;
}
.graphicIcon___1IAaP:global(.__wab_instance) {
  position: relative;
}
.svg___6ZDfZ {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__weTN {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__grDa9:global(.__wab_instance) {
  position: relative;
}
.svg__qN7Qc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___35O1F:global(.__wab_instance) {
  position: relative;
}
.box___89EY {
  color: rgb(69, 189, 98) /* plasmic-token: NEdiZacoLfV */;
  height: auto;
}
.graphicIcon___0TcVn:global(.__wab_instance) {
  position: relative;
}
.svg__k77HT {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__elq {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__ikOdi:global(.__wab_instance) {
  position: relative;
}
.svg__vHoOo {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__lhwty:global(.__wab_instance) {
  position: relative;
}
.box__lXfWk {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__acRek:global(.__wab_instance) {
  position: relative;
}
.svg__tzOYk {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__htyQb {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__mwcbl:global(.__wab_instance) {
  position: relative;
}
.svg__mpGxs {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__bom2F:global(.__wab_instance) {
  position: relative;
}
.box__bQ4FV {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__uWvfM:global(.__wab_instance) {
  position: relative;
}
.svg__tB408 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__pHlv {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__gx66:global(.__wab_instance) {
  position: relative;
}
.svg__cquAq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.footer:global(.__wab_instance) {
  position: relative;
}
