.root:global(.__wab_instance) {
  position: relative;
}
.box__xiVaE {
  color: rgba(0, 0, 0, 0);
  background: linear-gradient(
    333deg,
    rgb(4, 164, 244) 0%,
    rgb(134, 218, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.box__global_theme_altHeadlineFont__xiVaEfQkvX {
  font-family: "Poppins";
}
.img__ePqty {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.valueB1:global(.__wab_instance) {
  position: relative;
}
.graphicIcon___9Kw8Q:global(.__wab_instance) {
  position: relative;
}
.svg__a3P {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.linky__jGmvE:global(.__wab_instance) {
  position: relative;
}
.box__ymDwD {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__kEwAg {
  position: relative;
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.valueB42:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__izFq:global(.__wab_instance) {
  position: relative;
}
.svg__sfz3F {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.linky__fQbi:global(.__wab_instance) {
  position: relative;
}
.box__kLTg0 {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__bWVpS {
  position: relative;
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.valueB2:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__s3FBd:global(.__wab_instance) {
  position: relative;
}
.svg__nxpNo {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.linky__adWb:global(.__wab_instance) {
  position: relative;
}
.box__l9Fvf {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__gHw2R {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valueB4:global(.__wab_instance) {
  position: relative;
}
.graphicIcon___6W0Yy:global(.__wab_instance) {
  position: relative;
}
.svg___6JVb8 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.linky__vYnch:global(.__wab_instance) {
  position: relative;
}
.box__ejkN {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__umMsq {
  position: relative;
  width: 100%;
  object-fit: cover;
  min-width: 0;
}
.valueB3:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__yGM:global(.__wab_instance) {
  position: relative;
}
.svg__ssjT6 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.linky___1WWPx:global(.__wab_instance) {
  position: relative;
}
.box__gGdVk {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.box__hIjlW {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  background: rgb(245, 247, 250);
}
.img__d33R {
  width: 100%;
  object-fit: contain;
  min-width: 0;
}
