.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.pageHero:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.graphicIcon__mUvJg:global(.__wab_instance) {
  position: relative;
}
.svg__hEbgH {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.valuePropSection__vzkIu:global(.__wab_instance) {
  position: relative;
}
.box__qkixx {
  color: rgb(255, 137, 47) /* plasmic-token: _tD3YlpmSRSw */;
}
.graphicIcon__d6CJw:global(.__wab_instance) {
  position: relative;
}
.svg__hBnRs {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__bdnoh {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__gBhhh:global(.__wab_instance) {
  position: relative;
}
.svg__ofZp3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__c2Dzz:global(.__wab_instance) {
  position: relative;
}
.box___7UDmd {
  color: rgb(69, 189, 98) /* plasmic-token: NEdiZacoLfV */;
  height: auto;
}
.graphicIcon__esvrf:global(.__wab_instance) {
  position: relative;
}
.svg__sr1Qg {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__hm1T {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__c1GQq:global(.__wab_instance) {
  position: relative;
}
.svg__r1HYq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__odc2N:global(.__wab_instance) {
  position: relative;
}
.box__qBqe0 {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon___85O2Y:global(.__wab_instance) {
  position: relative;
}
.svg__a9AYf {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__wuUG {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__sPgps:global(.__wab_instance) {
  position: relative;
}
.svg__nd8Yk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___6O2Oc:global(.__wab_instance) {
  position: relative;
}
.box__a0UnZ {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__v2U4T:global(.__wab_instance) {
  position: relative;
}
.svg__pyDn7 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__pFcS {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__ngRaT:global(.__wab_instance) {
  position: relative;
}
.svg__zYrZr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__rCcYh:global(.__wab_instance) {
  position: relative;
}
.box__n2Gww {
  height: auto;
}
.box__adUaZ {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__ta4R4:global(.__wab_instance) {
  position: relative;
}
.svg__ux9Lx {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__jqeJ2 {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink___1VxPi:global(.__wab_instance) {
  position: relative;
}
.svg__qPvev {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.footer:global(.__wab_instance) {
  position: relative;
}
