.root {
  display: flex;
  position: relative;
  padding-bottom: 24px;
  padding-top: 24px;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgb(231, 243, 255) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_green {
  background: linear-gradient(
    0deg,
    rgb(221, 251, 229) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_yellow {
  background: linear-gradient(
    0deg,
    rgb(255, 249, 209) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_orange {
  background: linear-gradient(
    0deg,
    rgb(255, 233, 212) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_coral {
  background: linear-gradient(
    0deg,
    rgb(255, 230, 227) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_teal {
  background: linear-gradient(
    0deg,
    rgb(227, 249, 246) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_blue {
  background: linear-gradient(
    0deg,
    rgb(231, 243, 255) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_blue2 {
  background: linear-gradient(
    0deg,
    rgb(239, 232, 255) 0%,
    rgb(255, 255, 255) 100%
  );
}
.root__backgroundColor_none {
  background: none;
}
.box__qQnIe {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  width: auto;
  height: auto;
  overflow: hidden;
}
.img__gp7Wn {
  position: absolute;
  left: 0;
  top: auto;
  right: 0;
  bottom: 0;
  pointer-events: none;
}
.container33 {
  max-width: 1024px;
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 24px;
}
.container33 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container33 > :global(.__wab_flex-container) > *,
.container33 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .container33 {
    padding-left: 8px;
    padding-right: 8px;
  }
}
.container33__extras_centerAligned > :global(.__wab_flex-container) {
  align-items: center;
}
.graphicIcon__uqO9T:global(.__wab_instance) {
  position: relative;
}
.svg__clLih {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.box___9IxVq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___9IxVq > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___9IxVq > :global(.__wab_flex-container) > *,
.box___9IxVq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__extras_centerAligned___9IxVqtwsav > :global(.__wab_flex-container) {
  align-items: center;
}
.box__f8H6D {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__f8H6D > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__f8H6D > :global(.__wab_flex-container) > *,
.box__f8H6D > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__extras_centerAligned__f8H6DTwsav > :global(.__wab_flex-container) {
  align-items: center;
}
.box__tgw42 {
  display: flex;
  position: relative;
  height: auto;
}
.slotHeader {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: Poppins;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.box__quuat {
  display: flex;
  position: relative;
}
.slotTitle {
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  font-family: Poppins;
  text-align: center;
}
@media (min-width: 0px) and (max-width: 640px) {
  .slotTitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.box__earlC {
  display: flex;
  position: relative;
  height: auto;
}
.slotDescription {
  font-size: 18px;
  line-height: 28px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
.slotDescription__extras_centerAligned {
  text-align: center;
}
.extraSlot1 {
  display: flex;
  position: relative;
  height: auto;
  flex-direction: column;
}
.extraSlot1 > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.extraSlot1 > :global(.__wab_flex-container) > *,
.extraSlot1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .extraSlot1 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .extraSlot1 > :global(.__wab_flex-container) > *,
  .extraSlot1 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-top: 16px;
  }
}
.slotExtraSlot {
  font-size: 18px;
  line-height: 28px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
.extraSlot2 {
  display: flex;
  position: relative;
  overflow: auto;
  width: 100%;
  min-width: 0;
}
.extraSlot2 > :global(.__wab_flex-container) {
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.extraSlot2 > :global(.__wab_flex-container) > *,
.extraSlot2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .extraSlot2 > :global(.__wab_flex-container) {
    flex-wrap: wrap;
  }
}
.slotSlot62 {
  font-size: 18px;
  line-height: 28px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
.box__sSdcT {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__sSdcT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__sSdcT > :global(.__wab_flex-container) > *,
.box__sSdcT > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.buttonLink__tv6ZU:global(.__wab_instance) {
  position: relative;
}
.svg___6Qi6S {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
