.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  min-width: 0;
  min-height: 0;
}
.root__global_theme_dark {
  background: rgb(5, 5, 5);
}
.banner:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.header:global(.__wab_instance) {
  position: relative;
  z-index: 999;
}
.body {
  display: flex;
  position: relative;
  flex-direction: column;
}
.body > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.body > :global(.__wab_flex-container) > *,
.body > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 64px;
}
.homeHero:global(.__wab_instance) {
  position: relative;
}
.img__g76O {
  width: 100%;
  max-width: 1200px;
  min-width: 0;
  border-radius: 12px;
}
.makeEditable:global(.__wab_instance) {
  position: relative;
}
.slotChildren {
  color: rgba(0, 0, 0, 0);
  text-align: center;
}
.slotChildren > *,
.slotChildren > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > *,
.slotChildren > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-decoration-line: none;
  text-overflow: clip;
}
@media (min-width: 0px) and (max-width: 640px) {
  .slotChildren {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.slotChildren__global_theme_altHeadlineFont {
  font-family: "Poppins";
}
.box__lquSq {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(24, 119, 242) 0%,
    rgb(118, 182, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.box__pHnPz {
  display: flex;
  flex-direction: column;
}
.box__pHnPz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__pHnPz > :global(.__wab_flex-container) > *,
.box__pHnPz > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.graphicIcon__xruuH:global(.__wab_instance) {
  position: relative;
}
.svg___4NgSb {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider___83Gsf:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__pCtFm {
  height: auto;
}
.graphicIcon___6TM6E:global(.__wab_instance) {
  position: relative;
}
.svg__yoPqM {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__eFeLk:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__uQ7Oi {
  height: auto;
}
.graphicIcon__uVBbV:global(.__wab_instance) {
  position: relative;
}
.svg__sbO0V {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__sCaSb:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__mHq7H {
  height: auto;
}
.graphicIcon__ieq0B:global(.__wab_instance) {
  position: relative;
}
.svg__aqfA {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.img__vdyNb {
  position: relative;
  object-fit: cover;
  width: 860px;
  height: 515px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .img__vdyNb {
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
.belowFoldCtaRow:global(.__wab_instance) {
  position: relative;
}
.valuePropSection:global(.__wab_instance) {
  position: relative;
}
.box__w77Ba {
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(129, 77, 231) 0%,
    rgb(178, 144, 245) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.img__uxPm1 {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.box__vfOyv {
  max-width: 1024px;
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__vfOyv > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__vfOyv > :global(.__wab_flex-container) > *,
.box__vfOyv > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__qBImS {
  display: flex;
}
.box__qBImS > :global(.__wab_flex-container) {
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__qBImS > :global(.__wab_flex-container) > *,
.box__qBImS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__qBImS {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__qBImS > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__qBImS > :global(.__wab_flex-container) > *,
  .box__qBImS > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.smallValuePropCard__tw3B:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__bnnUp:global(.__wab_instance) {
  position: relative;
}
.svg__mbVe5 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(129, 77, 231) /* plasmic-token: TofnYUvxKNBJ */;
}
.linky__y6QmX:global(.__wab_instance) {
  position: relative;
}
.box__dHTkz {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.smallValuePropCard__grvQj:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__ykOpI:global(.__wab_instance) {
  position: relative;
}
.svg__u6Koz {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(129, 77, 231) /* plasmic-token: TofnYUvxKNBJ */;
}
.linky___4PgVo:global(.__wab_instance) {
  position: relative;
}
.box__isEuK {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.smallValuePropCard__fyXyA:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__vt31J:global(.__wab_instance) {
  position: relative;
}
.svg___1Zc7D {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(129, 77, 231) /* plasmic-token: TofnYUvxKNBJ */;
}
.linky__v3Lzt:global(.__wab_instance) {
  position: relative;
}
.box__anl0B {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.smallValuePropCard__d96Xl:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__pbu9R:global(.__wab_instance) {
  position: relative;
}
.svg__jFUiX {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(129, 77, 231) /* plasmic-token: TofnYUvxKNBJ */;
}
.linky__vHxls:global(.__wab_instance) {
  position: relative;
}
.box__tygT {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.first:global(.__wab_instance) {
  position: relative;
}
.box___7M7Dm {
  text-align: center;
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(24, 119, 242) 0%,
    rgb(118, 182, 255) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
@media (min-width: 0px) and (max-width: 640px) {
  .box___7M7Dm {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    font-family: Poppins;
  }
}
.box__global_theme_altHeadlineFont___7M7DmFQkvX {
  font-family: "Poppins";
}
.img__d0QKq {
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
.link {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.svg__lw3GF {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.box__uuGxi {
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  position: relative;
  flex-direction: column;
  overflow: hidden;
  border-radius: 16px;
  padding: 24px;
  background: rgb(255, 255, 255);
}
.box__uuGxi > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__uuGxi > :global(.__wab_flex-container) > *,
.box__uuGxi > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.box__np2Uo {
  display: flex;
  flex-direction: column;
}
.box__np2Uo > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.box__np2Uo > :global(.__wab_flex-container) > *,
.box__np2Uo > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 24px;
}
.graphicIcon___5OzZh:global(.__wab_instance) {
  position: relative;
}
.svg__am5X0 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider___5DRsx:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__bFhp {
  height: auto;
}
.graphicIcon__uAfpV:global(.__wab_instance) {
  position: relative;
}
.svg__zKaXj {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__ygUng:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box___9RKfj {
  height: auto;
}
.graphicIcon__xOdjG:global(.__wab_instance) {
  position: relative;
}
.svg__fRu4D {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(24, 119, 242) /* plasmic-token: p-fCTrfjtL4 */;
}
.divider__u6Tg:global(.__wab_instance) {
  position: relative;
  height: 1px;
  flex-shrink: 0;
}
.box__bOrt7 {
  height: auto;
}
.graphicIcon__ly2H0:global(.__wab_instance) {
  position: relative;
}
.svg__u050 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(0, 139, 208) /* plasmic-token: yKXmGnP3Nte */;
}
.section__n0FHy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.box__scPjK {
  display: flex;
  position: relative;
  flex-direction: row;
  max-width: 1024px;
  width: 100%;
  min-width: 0;
  padding: 24px;
}
.img__lsQrq {
  width: 100%;
  min-width: 0;
}
.section__hl4K {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  padding-top: 0px;
  min-width: 0;
}
.container {
  display: flex;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  position: relative;
  width: 100%;
  min-width: 0;
}
.container > :global(.__wab_flex-container) {
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(0px - 48px);
  width: calc(100% + 48px);
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container > :global(.__wab_flex-container) > *,
.container > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 48px;
  margin-top: 16px;
}
.img__hNze {
  height: 52px;
}
.img__skRo2 {
  height: 40px;
}
.img__irid5 {
  height: 36px;
}
.img__f1Bts {
  height: 60px;
}
.img__vvY5U {
  position: relative;
  object-fit: cover;
  height: 50px;
}
.img__oqmll {
  height: 32px;
}
.img__xO4AM {
  height: 28px;
}
.img__mn6Pi {
  position: relative;
  object-fit: cover;
  height: 26px;
}
.img__orpQs {
  position: relative;
  object-fit: cover;
  width: 148px;
  height: 51px;
  flex-shrink: 0;
}
.img___5L6GX {
  position: relative;
  object-fit: cover;
  width: 196px;
  height: 47px;
  flex-shrink: 0;
}
.img__xj1K6 {
  position: relative;
  object-fit: cover;
  width: 81px;
  height: 48px;
  flex-shrink: 0;
}
.img__iigpS {
  position: relative;
  object-fit: cover;
  width: 132px;
  height: 36px;
  flex-shrink: 0;
}
.valuePropCardsSection___2YbbV:global(.__wab_instance) {
  position: relative;
}
.box___1BzKw {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box___1BzKw > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box___1BzKw > :global(.__wab_flex-container) > *,
.box___1BzKw > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.columns__dmM1K {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__dmM1K > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__dmM1K > :global(.__wab_flex-container) > *,
.columns__dmM1K > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__dmM1K {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__dmM1K > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__dmM1K > :global(.__wab_flex-container) > *,
  .columns__dmM1K > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.column__b3CIq {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__b3CIq {
    width: auto;
  }
}
.valueA14:global(.__wab_instance) {
  height: 100%;
  min-height: 0;
}
.img__rZkbL {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.column__cPnk8 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__cPnk8 {
    width: auto;
  }
}
.valueA24:global(.__wab_instance) {
  position: relative;
  height: 100%;
  min-height: 0;
}
.img__rK2I2 {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.columns__y6VVa {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__y6VVa > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__y6VVa > :global(.__wab_flex-container) > *,
.columns__y6VVa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__y6VVa {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__y6VVa > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__y6VVa > :global(.__wab_flex-container) > *,
  .columns__y6VVa > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.column__dykeY {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__dykeY {
    width: auto;
  }
}
.valueA2222:global(.__wab_instance) {
  position: relative;
}
.img___8POp {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-width: 0;
}
.column___7Obv {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column___7Obv {
    width: auto;
  }
}
.valueA22:global(.__wab_instance) {
  position: relative;
}
.img__uakJa {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__lmCrN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__lmCrN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__lmCrN > :global(.__wab_flex-container) > *,
.columns__lmCrN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__lmCrN {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__lmCrN > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__lmCrN > :global(.__wab_flex-container) > *,
  .columns__lmCrN > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.column__tMvys {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__tMvys {
    width: auto;
  }
}
.valueA22222:global(.__wab_instance) {
  position: relative;
}
.img__u9Zkf {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  height: auto;
  min-width: 0;
}
.column__rf1Bi {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__rf1Bi {
    width: auto;
  }
}
.img__v3Dk0 {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.columns__dVsFh {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
}
.columns__dVsFh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.columns__dVsFh > :global(.__wab_flex-container) > *,
.columns__dVsFh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__dVsFh {
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__dVsFh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .columns__dVsFh > :global(.__wab_flex-container) > *,
  .columns__dVsFh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.column__c2K8 {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__c2K8 {
    width: auto;
  }
}
.valueA222223:global(.__wab_instance) {
  position: relative;
}
.img__xcmX7 {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  height: auto;
  min-width: 0;
}
.valueA232:global(.__wab_instance) {
  position: relative;
}
.img___661B {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.column__w1QEk {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  width: 0;
}
@media (min-width: 0px) and (max-width: 750px) {
  .column__w1QEk {
    width: auto;
  }
}
.valueA2232:global(.__wab_instance) {
  position: relative;
}
.img__bszud {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.box__ibOkh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__ibOkh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__ibOkh > :global(.__wab_flex-container) > *,
.box__ibOkh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__ibOkh {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__ibOkh > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 750px) {
  .box__ibOkh > :global(.__wab_flex-container) > *,
  .box__ibOkh > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
    margin-left: 0px;
    margin-top: 16px;
  }
}
.box__zMf5O {
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(245, 83, 61) 0%,
    rgb(255, 158, 145) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.valuePropCardsSection__yrVi8:global(.__wab_instance) {
  position: relative;
}
.box__caSsq {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__caSsq > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__caSsq > :global(.__wab_flex-container) > *,
.box__caSsq > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__tSN2 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__tSN2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__tSN2 > :global(.__wab_flex-container) > *,
.box__tSN2 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.img___0CQil {
  position: relative;
  object-fit: contain;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__afgOu:global(.__wab_instance) {
  position: relative;
}
.img___2Yqv {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.box__mivs4 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__mivs4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__mivs4 > :global(.__wab_flex-container) > *,
.box__mivs4 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.smallValuePropCard___8K77L:global(.__wab_instance) {
  position: relative;
}
.img__puKh7 {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-width: 0;
}
.smallValuePropCard___8HGm:global(.__wab_instance) {
  position: relative;
}
.img__tp883 {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: auto;
  min-width: 0;
}
.box___9Jeii {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box___9Jeii > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box___9Jeii > :global(.__wab_flex-container) > *,
.box___9Jeii > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.smallValuePropCard__xuTSm:global(.__wab_instance) {
  position: relative;
}
.img__rc1ST {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  height: auto;
  min-width: 0;
}
.img__kwVgy {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.box__wMu7V {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__wMu7V > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__wMu7V > :global(.__wab_flex-container) > *,
.box__wMu7V > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.smallValuePropCard__p4Kha:global(.__wab_instance) {
  position: relative;
}
.img__pX7Sx {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.smallValuePropCard__qoq3F:global(.__wab_instance) {
  position: relative;
}
.img___7ZFfT {
  position: relative;
  object-fit: contain;
  width: 100%;
  transition-property: all, all;
  transition-duration: 1s, 1s;
  min-width: 0;
}
.box___93AIn {
  color: rgba(0, 0, 0, 0);
  text-decoration-line: none;
  text-overflow: clip;
  background: linear-gradient(
    333deg,
    rgb(245, 83, 61) 0%,
    rgb(255, 158, 145) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
}
.productHuntBadge {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  align-self: center;
}
.img__gdRjs {
  position: relative;
  object-fit: cover;
  left: auto;
  top: auto;
}
.quotesScroller:global(.__wab_instance) {
  position: relative;
}
.testimonials:global(.__wab_instance) {
  position: relative;
}
.bottomCtaSection:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
