.root {
  display: flex;
  flex-direction: row;
  position: relative;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .root > :global(.__wab_flex-container) {
    align-items: flex-start;
  }
}
.svg__nf3W {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.box__vEe6Y {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__vEe6Y > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.box__vEe6Y > :global(.__wab_flex-container) > *,
.box__vEe6Y > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 8px;
}
.box__o5Hv {
  position: relative;
  display: flex;
  flex-direction: column;
}
.box__rp92I {
  display: flex;
  position: relative;
  flex-direction: column;
}
.slotSlot2 {
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  color: rgb(74, 76, 79) /* plasmic-token: 2eUJTxCVL-C */;
}
.slotChildren {
  font-family: Inter;
  font-size: 16px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 24px;
}
