.container32 {
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 24px;
}
.container32 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.container32 > :global(.__wab_flex-container) > *,
.container32 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.graphicIcon:global(.__wab_instance) {
  position: relative;
}
.svg__tXdwi {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.box__wl33N {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__wl33N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.box__wl33N > :global(.__wab_flex-container) > *,
.box__wl33N > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 16px;
}
.box__hlNmg {
  display: flex;
  position: relative;
  flex-direction: column;
}
.box__hlNmg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: calc(0px - 4px);
  height: calc(100% + 4px);
}
.box__hlNmg > :global(.__wab_flex-container) > *,
.box__hlNmg > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-top: 4px;
}
.box__c3Ngm {
  display: flex;
  position: relative;
  height: auto;
}
.slotChildren {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  letter-spacing: 1px;
  font-family: Poppins;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.box__pZkQq {
  display: flex;
  position: relative;
  height: auto;
}
.slotSlot {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.5;
  font-family: Poppins;
}
.box__veZia {
  display: flex;
  position: relative;
}
.slotSlot2 {
  font-size: 18px;
  line-height: 28px;
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
.buttonLink:global(.__wab_instance) {
  position: relative;
}
.svg__v37Z3 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.box__kIdlr {
  display: block;
  position: relative;
  width: 100%;
  height: 255px;
  margin-top: calc(24px + 16px) !important;
  margin-bottom: 24px;
  min-width: 0;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgb(122, 125, 130);
}
