.root {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  flex-direction: column;
  overflow: auto;
  min-width: 0;
  min-height: 0;
  background: #ffffff;
}
.header:global(.__wab_instance) {
  position: relative;
  left: auto;
  top: auto;
}
.pageHero:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
.box__a1XxH {
  height: auto;
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.graphicIcon__omcFa:global(.__wab_instance) {
  position: relative;
}
.svg__cMnKu {
  object-fit: cover;
  position: relative;
  left: auto;
  top: auto;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.valuePropCardsSection__tqkWc:global(.__wab_instance) {
  position: relative;
}
.smallValuePropCard__d7Ww1:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__ezbPy:global(.__wab_instance) {
  position: relative;
}
.svg__xbjqi {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__cjCpe:global(.__wab_instance) {
  position: relative;
}
.svg__qtYIh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__eGYgT:global(.__wab_instance) {
  position: relative;
}
.box___6DOwq {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__m9Hvw {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard___8Dgjp:global(.__wab_instance) {
  position: relative;
}
.graphicIcon___459T:global(.__wab_instance) {
  position: relative;
}
.svg__dmuDw {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__ccSdP:global(.__wab_instance) {
  position: relative;
}
.svg__iKrWr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__kzFp6:global(.__wab_instance) {
  position: relative;
}
.box__ofkAe {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__c6Btz {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__rdshW:global(.__wab_instance) {
  position: relative;
}
.graphicIcon___2Ulsi:global(.__wab_instance) {
  position: relative;
}
.svg___7VuFl {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__kXsth:global(.__wab_instance) {
  position: relative;
}
.svg___86Xsa {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__imFlI:global(.__wab_instance) {
  position: relative;
}
.box__fXvw9 {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img___2Wmnm {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valuePropsListSection:global(.__wab_instance) {
  position: relative;
}
.svg__bdBc {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.divider__ve9Ih:global(.__wab_instance) {
  position: relative;
}
.box__xJyyL {
  display: flex;
  flex-direction: row;
}
.box__xJyyL > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__xJyyL > :global(.__wab_flex-container) > *,
.box__xJyyL > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.svg__aMb2 {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.divider__dWrin:global(.__wab_instance) {
  position: relative;
}
.box__vU2ML {
  display: flex;
  flex-direction: row;
}
.box__vU2ML > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.box__vU2ML > :global(.__wab_flex-container) > *,
.box__vU2ML > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 16px;
}
.svg___8Rl6Q {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.box___1MUvs {
  height: auto;
}
.buttonLink__hQ8YI:global(.__wab_instance) {
  position: relative;
}
.svg___50Hc8 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.img__k80Sj {
  height: auto;
  object-fit: contain;
  max-height: 600px;
  width: 100%;
  min-width: 0;
  border-radius: 16px;
}
.valuePropCardsSection__eiZqf:global(.__wab_instance) {
  position: relative;
}
.smallValuePropCard__t2Pdt:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__y5Wvw:global(.__wab_instance) {
  position: relative;
}
.svg__wlrws {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__iCuC6:global(.__wab_instance) {
  position: relative;
}
.svg__oEkrl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__eLxX:global(.__wab_instance) {
  position: relative;
}
.box__sdtLe {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__w9MnP {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__fAuq5:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__jt5FT:global(.__wab_instance) {
  position: relative;
}
.svg___9M0BI {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__mgpN6:global(.__wab_instance) {
  position: relative;
}
.svg__sbxfd {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__moCy7:global(.__wab_instance) {
  position: relative;
}
.box___3Mwl5 {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__cGlQg {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__jRera:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__z24Se:global(.__wab_instance) {
  position: relative;
}
.svg__jRxHa {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__rUtw6:global(.__wab_instance) {
  position: relative;
}
.svg__tv0Ka {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky___4Xsi:global(.__wab_instance) {
  position: relative;
}
.box__cn4C {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__egSvD {
  position: relative;
  width: 100%;
  min-width: 0;
}
.valuePropCardsSection___9ZXha:global(.__wab_instance) {
  position: relative;
  height: 841px;
  flex-shrink: 0;
}
.smallValuePropCard__j2ZY:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__caSo5:global(.__wab_instance) {
  position: relative;
}
.svg__cqWod {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__lyNaW:global(.__wab_instance) {
  position: relative;
}
.svg___9OniM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__noKon:global(.__wab_instance) {
  position: relative;
}
.box__laGvc {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__dwc7T {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__hVolp:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__xIsa:global(.__wab_instance) {
  position: relative;
}
.svg__ze2Qz {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__wp0L1:global(.__wab_instance) {
  position: relative;
}
.svg__iXeim {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__lcgva:global(.__wab_instance) {
  position: relative;
}
.box__qIsSk {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img__eJmPw {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__iyFdr:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__txl4T:global(.__wab_instance) {
  position: relative;
}
.svg__lrgVv {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink__eomyZ:global(.__wab_instance) {
  position: relative;
}
.svg___1U1Nc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__bTteb:global(.__wab_instance) {
  position: relative;
}
.box__m5OHs {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img___1B7TE {
  position: relative;
  width: 100%;
  min-width: 0;
}
.smallValuePropCard__lnv53:global(.__wab_instance) {
  position: relative;
}
.graphicIcon__ant0D:global(.__wab_instance) {
  position: relative;
}
.svg___8FUIt {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.buttonLink___37GnO:global(.__wab_instance) {
  position: relative;
}
.svg__ghuii {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.linky__tkNxr:global(.__wab_instance) {
  position: relative;
}
.box___3JTg3 {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.img___9Rltq {
  position: relative;
  width: 100%;
  min-width: 0;
}
.box__unH1 {
  height: auto;
}
.valuePropSection__gApt0:global(.__wab_instance) {
  position: relative;
}
.box__wXnHt {
  height: auto;
}
.graphicIcon___6VAf6:global(.__wab_instance) {
  position: relative;
}
.svg__br6Y {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__mYmj {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__x0Dxz:global(.__wab_instance) {
  position: relative;
}
.svg__b6LId {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___7W6V1:global(.__wab_instance) {
  position: relative;
}
.box__lyIpO {
  height: auto;
}
.box__eqk9N {
  color: rgb(69, 189, 98) /* plasmic-token: NEdiZacoLfV */;
  height: auto;
}
.graphicIcon___65RNm:global(.__wab_instance) {
  position: relative;
}
.svg__ksys {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__uq3A {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__oiBAn:global(.__wab_instance) {
  position: relative;
}
.svg__q4F9E {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection___8LSTc:global(.__wab_instance) {
  position: relative;
}
.box__v7Gz8 {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon__s7Vqo:global(.__wab_instance) {
  position: relative;
}
.svg___0E7XF {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img___6YbIq {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__ld85D:global(.__wab_instance) {
  position: relative;
}
.svg___8Hgz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.valuePropSection__lyaUf:global(.__wab_instance) {
  position: relative;
}
.box__qjD2 {
  color: rgb(247, 185, 40) /* plasmic-token: Wcxphanqg_td */;
  height: auto;
}
.graphicIcon___0BOzR:global(.__wab_instance) {
  position: relative;
}
.svg__eOPc {
  position: relative;
  width: 32px;
  height: 32px;
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.img__oLmHv {
  position: absolute;
  bottom: 0;
  width: auto;
}
.buttonLink__hA9NC:global(.__wab_instance) {
  position: relative;
}
.svg__o7Vk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.footer:global(.__wab_instance) {
  position: relative;
}
