.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
  min-width: 0;
  padding: 24px;
}
@media (min-width: 0px) and (max-width: 640px) {
  .section {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.container {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1024px;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 640px) {
  .container {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.logo:global(.__wab_instance) {
  position: relative;
  top: auto;
  left: auto;
}
@media (min-width: 0px) and (max-width: 750px) {
  .logo:global(.__wab_instance) {
    width: 54px;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  .logo:global(.__wab_instance) {
    left: auto;
    top: auto;
    width: auto;
  }
}
@media (min-width: 0px) and (max-width: 640px) {
  @media (min-width: 0px) and (max-width: 750px) {
    .logo:global(.__wab_instance) {
      width: auto;
    }
  }
}
.box__kb5Q9 {
  display: flex;
  position: relative;
  align-self: center;
}
.box__kb5Q9 > :global(.__wab_flex-container) {
  align-items: stretch;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__kb5Q9 > :global(.__wab_flex-container) > *,
.box__kb5Q9 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.box__showMobileMenu__kb5Q9FYx6G {
  opacity: 0;
}
.linky__mccmK:global(.__wab_instance) {
  position: relative;
}
.box__hHwpX {
  height: auto;
  width: auto;
  display: inline-block;
}
.box__gQ38 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.box__gQ38 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__gQ38 > :global(.__wab_flex-container) > *,
.box__gQ38 > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.linky__msqCp:global(.__wab_instance) {
  align-self: center;
}
.svg__rvDJc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__m9Lw2:global(.__wab_instance) {
  align-self: center;
}
.svg__tl5V9 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.box___7E5B0 {
  height: auto;
}
.hamburgerMenu:global(.__wab_instance) {
  position: relative;
}
.svg__rgliQ {
  width: 1em;
  height: 1em;
  position: relative;
  object-fit: cover;
}
.svg__global_theme_dark__rgliQh5AZc {
  color: rgb(176, 179, 184) /* plasmic-token: WsLN08IMx */;
}
.svg__wIkM {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.signupButton:global(.__wab_instance) {
  margin-left: calc(8px + 8px) !important;
}
@media (min-width: 0px) and (max-width: 640px) {
  .signupButton:global(.__wab_instance) {
    margin-left: calc(0px + 8px) !important;
  }
}
.svg__mNkUj {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.mobileNav {
  box-shadow: 0px 12px 32px 6px rgba(0, 0, 0, 0.05)
    /* plasmic-token: bwNWpmaBjHw_ */;
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 80px;
  max-width: 320px;
  border-radius: 16px;
  padding: 8px;
  background: rgb(255, 255, 255);
}
.linky__zyzAx:global(.__wab_instance) {
  position: relative;
}
.linky__ueb7Y:global(.__wab_instance) {
  position: relative;
}
.linky__gdiBd:global(.__wab_instance) {
  align-self: center;
}
.svg__uq7Vc {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__g5Thv:global(.__wab_instance) {
  align-self: center;
}
.svg__ofvaL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky___1GmQ8:global(.__wab_instance) {
  align-self: center;
}
.svg__dDlJj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.linky__in5W3:global(.__wab_instance) {
  position: relative;
}
.box__szH3A {
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 8px;
}
.box__szH3A > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.box__szH3A > :global(.__wab_flex-container) > *,
.box__szH3A > :global(.__wab_flex-container) > :global(.__wab_slot) > * {
  margin-left: 8px;
}
.svg__min8F {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.svg__dX7R {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
  color: #4a4c4f;
}
.box__ihjf3 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  align-self: center;
}
.linky__mUYaP:global(.__wab_instance) {
  align-self: center;
}
.svg__vRxpn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hcjwZ {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
