.root {
  font-family: Inter;
  font-size: 16px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 24px;
  height: 40px;
  flex-grow: 2;
  position: relative;
  box-shadow: inset 0px 0px 0px 2px rgb(228, 230, 235)
    /* plasmic-token: 4QM1pZKqI */;
  border-radius: 6px;
  padding: 8px 10px;
  border-width: 0px;
  border-style: none;
}
.root:focus {
  box-shadow: inset 0px 0px 0px 2px rgb(4, 164, 244)
    /* plasmic-token: eI5XVwQOs8t */;
  outline: none;
}
.root::placeholder {
  color: rgb(122, 125, 130) /* plasmic-token: yyaHFSf_c */;
}
