.root {
  display: flex;
  position: relative;
  cursor: pointer;
  justify-content: center;
  border-radius: 6px;
  padding: 8px 10px;
}
.root__style_lightGray {
  background: rgb(240, 242, 245);
}
.root__style_noPadding {
  padding: 0px;
}
.root__style_purpleSolid {
  background: rgb(129, 77, 231);
}
.root__style_lightCyan {
  background: rgb(224, 247, 255);
}
.root__style_solidCyan {
  background: rgb(4, 164, 244);
}
.root__leftAligned {
  justify-content: flex-start;
}
.root__style_small_style_lightGray {
  border-radius: 4px;
}
.root:focus {
  box-shadow: inset 0px 0px 0px 2px rgb(4, 164, 244)
    /* plasmic-token: eI5XVwQOs8t */;
  outline: none;
}
.slotChildren {
  font-family: Inter;
  font-size: 16px;
  color: rgb(50, 52, 54) /* plasmic-token: 6-9k9VEZ- */;
  line-height: 24px;
}
.slotChildren__global_theme_dark {
  color: rgb(201, 204, 209) /* plasmic-token: b6bbqecq5 */;
}
.slotChildren__style_purpleSolid {
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.slotChildren__style_lightCyan {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.slotChildren__style_solidCyan {
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
.root:hover .slotChildren {
  color: rgb(4, 164, 244) /* plasmic-token: eI5XVwQOs8t */;
}
.root:hover .slotChildren > *,
.root:hover .slotChildren > .__wab_slot > *,
.root:hover .slotChildren > .__wab_slot > .__wab_slot > *,
.root:hover .slotChildren > .__wab_slot > .__wab_slot > .__wab_slot > * {
  text-decoration-line: underline;
}
.root__style_solidCyan:hover .slotChildren__style_solidCyan {
  color: rgb(255, 255, 255) /* plasmic-token: maWCPk1v_oCK */;
}
