.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  max-width: 800px;
  min-width: 0;
  padding: 24px;
}
.box__zzEbZ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  min-width: 0;
}
.pricingFeatureTableRow__vPdam:global(.__wab_instance) {
  position: relative;
}
.box__lBHqW {
  font-weight: 700;
}
.box__br8E4 {
  height: auto;
}
.svg__auLf6 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.box__wJd2P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  background: rgb(228, 230, 235);
}
.pricingFeatureTableRow___5UCpG:global(.__wab_instance) {
  position: relative;
}
.svg__cFQrU {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__pjqoA:global(.__wab_instance) {
  position: relative;
}
.svg__hv8ER {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__mw5N0:global(.__wab_instance) {
  position: relative;
}
.svg__tJszV {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__nkzv5:global(.__wab_instance) {
  position: relative;
}
.svg__f6ZH {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__vKjQr:global(.__wab_instance) {
  position: relative;
}
.svg___1DinO {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__tfLi3:global(.__wab_instance) {
  position: relative;
}
.svg__fT5Ig {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow___3Doxv:global(.__wab_instance) {
  position: relative;
}
.svg__dSZE {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__zn9Ts:global(.__wab_instance) {
  position: relative;
}
.svg___5DaTu {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__tpc39:global(.__wab_instance) {
  position: relative;
}
.svg__pFmJ {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__rOynI:global(.__wab_instance) {
  position: relative;
}
.svg__kfE7X {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__ojFfi:global(.__wab_instance) {
  position: relative;
}
.svg__wKx3 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__scGm:global(.__wab_instance) {
  position: relative;
}
.svg__tyjgo {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__oP44V:global(.__wab_instance) {
  position: relative;
}
.svg__hXiQv {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow___0Ju4T:global(.__wab_instance) {
  position: relative;
}
.svg___4En6A {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow___5G05O:global(.__wab_instance) {
  position: relative;
}
.svg__f8Nt {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__dHtX:global(.__wab_instance) {
  position: relative;
}
.svg__ywEoq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__iyhDy:global(.__wab_instance) {
  position: relative;
}
.svg__bPs3T {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__a1Nfn:global(.__wab_instance) {
  position: relative;
}
.svg___2Chik {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__lrzm0:global(.__wab_instance) {
  position: relative;
}
.svg__cFpDq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow___67SuN:global(.__wab_instance) {
  position: relative;
}
.svg__hLkr5 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow__sPtRb:global(.__wab_instance) {
  position: relative;
}
.svg__epmM {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.pricingFeatureTableRow___0Y1Bz:global(.__wab_instance) {
  position: relative;
}
.svg__rNrkn {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
